@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* cut because of browser incompatibility */
#progress {
  background-image: linear-gradient(to right, #66c6f9, #667cf9, #66c6f9, #667cf9);
  height: 4px;
  top: 0;
  position: fixed;
  width: 100%;
}

body {
  margin: 0;
}

#title {
  margin-top: 3.5em;
  text-align: center;
}

#title-nav {
  display: none;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: whitesmoke;
  border-bottom: solid lightgray 1px;
  align-items: center;
  color: black;
}
#banner-update {
  position: fixed;
  top: 4em;
  height: 3em;
  background-color: yellow;
  align-content: center;
  width: 100%;
  text-align: center;
}

#banner-update a {
  color: black;
}

nav #items {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}

.card {
  width: 75vw;
  height: 75vw;
  background-color: whitesmoke;
  padding: 12px;
  margin: auto;
  border-radius: 12px;
  border-color: #66c6f9;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1em;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 500;
  overflow: scroll;
  scrollbar-width: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.card-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 1em;
}

form {
  text-align: center;
  background-color: #e1e1e1;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 12px;
  margin-bottom: 12px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
  padding: 8px;
  display: block;
  margin: auto;
}

input {
  border-color: #66c6f9;
  border-style: solid;
  border-radius: 12px;
}

input:focus {
  outline: none;
}

label {
  display: block;
  font-weight: bold;
}

input[type=button] {
  margin-top: 2em;
  padding: 8px;
  font-weight: bold;
}

select {
  border-color: #66c6f9;
  border-style: solid;
  border-radius: 12px;
  padding: 8px;
  background-color: white;
}

.emailbuttons {
  text-align: center;
  margin-bottom: 2em;
}

.emailbuttons a {
  display: inline-block;
  background-color: #66c6f9;
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
  cursor: pointer;
}

#email {
  background-color: #1e1e1e;
  color: whitesmoke;
  width: 80%;
  padding: 5%;
  border: none;
  border-radius: 12px;
  margin: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

footer {
  border-top: whitesmoke solid 2px;
  padding-top: 1em;
  margin-top: 4em;
  text-align: center;
}

#cards {
  background-color: #155dfc;
  padding-top: 1em;
  padding-bottom: 1em;
}

#emailsection {
  padding-top: 1em;
}

#opening {
  color: white;
  background-color: oklch(28.3% 0.141 291.089);
  padding-bottom: 4em;
}
a {
  color: #00aaff;
}

#timeline {
  text-align: center;
}

.timeline-item em {
  color: gray;
}

#desktop-timeline-line {
  display: none;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1e1e1e;
    color: white;
  }
  nav {
    background-color: #1e1e1e;
    border-bottom: solid 1px #404040;
    color: white;
  }
  
  footer {
    border-top: solid 2px #404040;
  }

  form, .card {
    background-color: #404040;
    color: white;
  }

  input {
    background-color: #404040;
    color: whitesmoke;
  }
  select {
    background-color: #404040;
    color: whitesmoke;
  }

  #email {
    background-color: #404040;
    color: whitesmoke;
  }
}

/* Desktop */
@media (width >= 48rem) {
  .card {
    width: 25vw;
    height: 25vw;
    display: inline-block;
  }

  #cards {
    display: flex;
  }

  #title-nav {
    display: initial;
  }

  nav {
    justify-items: space-between;
  }
  footer {
    margin-bottom: 4em;
  }

  .timeline-item {
    width: 50%;
  }

  .timeline-item-2 {
    margin-left: auto;
  }

  #desktop-timeline-line {
    display: initial;
    position: absolute;
    transform: translateY(-18.5rem) translateX(-1rem);
  }
  #mobile-timeline-line-1, #mobile-timeline-line-2 {
    display: none;
  }
}
